#panel {
    width: 640px;
    height: 640px;
}

.tile {
    background-color: #FFCC66;
    color: #FF6633;
    width: 80px;
    height:80px;
    border: 1px solid silver;
    border-radius: 15px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    box-shadow: gray 4px 3px;
    float: left;
    cursor: pointer;
    margin: 2px 2px 2px 2px;
    padding: 20px 20px 20px 20px;
}

h1{
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: "Arial Black";
}

#all{
    width: 900px;
    height: 900px;
    background-color: #FF9933;
    margin: auto;
}

div{
    margin: auto;
}

#slidePanel{
    background-image: url(/img/PanelImg.jpg);
    background-size: 202px 202px;
    width: 90%;
    height: 70%;
}

body{
    background-color: darkred;
}

p{
    width: 700px;
    font-size: 30px;
    margin: auto;
    color: white;
}